.home-container {
  width: 100%;
  min-height: 100vh;
}

.home-main {
  width: 100%;
}

/* Reset default margins and paddings */
* {
  box-sizing: border-box;
}

section {
  width: 100%;
}
